/* ALL */
section {
    padding: 100px 0;
}

.about h4 {
    font-family: 'Viga', sans-serif;
}

.about h1,
.book h1,
.packages h1,
.services h1,
.gallery h1,
.reviews h1,
.contact h1 {
    color: #333;
    font-size: 32px;
    margin-bottom: 0;
    font-family: 'Viga', sans-serif;
}

.kotak {
    margin-top: 0;
    width: 30px;
    height: 5px;
    background-color: #ffc107;
}

/* Navbar */
/* .navbar {
    position: relative;
    z-index: 999;
} */

.navbar-brand {
    font-family: 'Viga', sans-serif;
    font-size: 32px;
}

nav {
    font-family: 'Montserrat', sans-serif;
    background-color: white !important;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}

nav span {
    color: #ffc107;
}

/* Akhir navbar */

/* Jumbotron */
.jumbotron {
    background-image: url(../img/jumbotron/jumbotron-bg.jpg);
    background-size: cover;
    height: 540px;
    text-align: center;
    position: relative;
    margin-top: -150px;
}

.jumbotron .container {
    z-index: 1;
    position: relative
}

.jumbotron .display-4 {
    color: white;
    padding-top: 200px;
    margin-top: 150px;
    font-weight: 150;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    font-size: 50px;
    /* margin-bottom: 30px; */
}

.jumbotron .display-4 span {
    font-weight: 500;
}

.jumbotron .lead {
    color: white;
    font-weight: 100;
    font-size: 35px;
}

.jumbotron a {
    font-family: 'Montserrat', sans-serif;
    border-radius: .5rem;
}

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 80%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
}

/* Akhir jumbotron */

/* Parallax */
.parallax-1 {
    background-image: url(../img/parallax/par1.jpg);
}

.parallax-2 {
    background-image: url(../img/parallax/par2.jpg);
}

.parallax-3 {
    background-image: url(../img/parallax/par3.jpg);
}

.parallax-1,
.parallax-2,
.parallax-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 300px;
}

.parallax-1 .display-4,
.parallax-2 .display-4 {
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    font-family: 'Montserrat', sans-serif;
    margin-top: -25px;
    letter-spacing: 5px;
}

.parallax-3 .display-4 {
    margin-top: -70px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
}

.parallax-1 .lead,
.parallax-2 .lead,
.parallax-3 .lead {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

/* Akhir parallax */

/* About */
.about h4 {
    color: #ffc107;
}

.about .paragraf p {
    text-align: start;

}

.about .paragraf p,
.about .awards {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    color: #333;
}

.achievment {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}


/* Akhir about */

/* Book */
section.book {
    background-color: #e7eb90;
}

.book input#destination {
    border-radius: .5rem 0 0 .5rem;
}

.book button.btn-destination {
    border-radius: 0 .5rem .5rem 0;
}

.book label.destination {
    margin-top: 30px;
}

.book label,
.book input {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-size: 18px;
}

.book button.book-now {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    border-radius: .5rem;

}

/* Akhir book */


/* Packages */
.packages i {
    font-size: 20px;
}

.packages h4 {
    color: #333;
}

.packages p {
    font-family: 'PT Sans', sans-serif;
    color: #333;
    padding-bottom: 0px;
}

.packages .star {
    color: #ffc107;
}

.packages a {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 18px;
    border-radius: .5rem;
}

/* Akhir packages */

/* Services */
section.services {
    background-color: #e7eb90;
}

.services .icon {
    font-size: 70px;
    color: #ffc107;
}

.services h5,
.services p {
    color: #333;
}

.services p {
    font-family: 'PT Sans', sans-serif;
}

/* Akhir services */

/* Gallery */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

/* Akhir gallery */

/* Reviews */
.reviews .card {
    margin: 10px;
    padding: .5rem;
    background-color: #e7eb90;
}

.reviews p {
    font-family: 'PT Sans', sans-serif;
    color: #333;
}

.reviews .rating {
    color: #ffc107;
}

/* Akhir reviews */

/* Contact */
.pic-contact {
    background-image: url(../img/pic-contact.jpg);
    min-height: 450px;
    background-size: cover;
    background-position: center;
}

section.contact {
    border-radius: .5rem;
    background-color: white;
    position: relative;
    top: -220px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.email-phone {
    padding: .5rem 0;
    background-color: #ffc107;
    border-radius: .5rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.contact p {
    color: #333;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
}

form input.form-control,
form select.form-select,
form textarea.form-control {
    border-radius: .5rem;
    font-family: 'PT Sans', sans-serif;
    border: 1px solid #ffc107
}

.alamat {
    padding: 1rem 0;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    border-radius: .5rem;
}

.alamat p {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
}

/* Akhir contact */

/* DESKTOP VERSION */
@media (min-width: 992px) {

    .navbar-brand,
    .nav-link {
        color: black !important;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #ffc107;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .jumbotron {
        /* margin-top: -225px; */
        height: 640px;
    }

    .jumbotron h1.display-4 {
        padding-top: 200px;
        font-size: 80px;
    }

    .jumbotron p.lead {
        font-size: 40px;
    }

    .jumbotron a {
        font-size: 18px
    }

    /* Parallax */
    .parallax-1,
    .parallax-2,
    .parallax-3 {
        min-height: 400px;
    }

    .parallax-1 .display-4,
    .parallax-2 .display-4 {
        color: white;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
        font-family: 'Montserrat', sans-serif;
        margin-top: 50px;
        letter-spacing: 10px;
    }

    .parallax-3 .display-4 {
        margin-top: 20px;
    }

    .parallax-1 .lead,
    .parallax-2 .lead,
    .parallax-3 .lead {
        color: white;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 2px;
    }

    /* Akhir parallax */

    .about h1,
    .book h1,
    .packages h1,
    .services h1,
    .gallery h1,
    .reviews h1,
    .contact h1 {
        font-size: 40px;
    }

    .about .paragraf p,
    .about .awards {
        text-align: center;
    }

    .about p br {
        display: grid;
    }

    .book label.destination {
        margin-top: 0;
    }
    .form-send {
        border-radius: 0.5rem;
    }
}

@media (max-width: 320px) {
    .jumbotron h1.display-4 {
        padding-top: 140px;
        font-size: 50px;
    }
}